// Navigation code here



.navcontainer {
    #width;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.navcontainer h1{
    font-size: 50px;
    padding-bottom: 15px;
}

.navigation{
    #flex;
    justify-content: center;
    justify-content: space-around;
}

.navigation a{
    #flex;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding-bottom: 25px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
}

.navigation a:hover {
    color: lightgrey;
    letter-spacing: 1px;
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}


